@media screen and (width <= 2560px) {
	* {
		font-size: 20px;
	}
	
}

@media screen and (width <= 1920px) {
	* {
		font-size: 16px;
	}
	
}

@media screen and (width <= 1440px) {
	* {
		font-size: 14px
	}
	
}

@media screen and (width <= 1024px) {
	* {
		font-size: 12px;
	}
}

@media screen and (width <= 768px) {
	* {
		font-size: 10px;
	}
}

@media screen and (width <= 500px) {
	* {
		font-size: 6px;
	}
	
	.container {
		flex-direction: column;
		align-items: center;
	}

	.info {
		width: 80% !important;
	}

	.play {
		margin-top: 2em;
		width: 20% !important;
	}

	.info_text p {
		font-size: 1.2em !important;
	}

	.date,
	.cinema,
	.time {
		font-size: 1.5em;
	}

	.days,
	.select {
		font-size: 1.1em;
		margin-bottom: 1em;
	}

	.cinema>.select select{
		width: 20em !important;
	}

	.seats-1 {
		grid-template: repeat(4, 2em)/repeat(19, 2em) !important;
	}

	.seats-2,
	.seats-3 {
		grid-template: repeat(4, 2em)/repeat(10, 2em) !important;
	}

	.seat img {
		width: 1.5em !important;
	}

	#header .menu>.list {
		display: none !important;
	}

	.gamburger {
		display: block !important;
	}
}